.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.listgroupStyle{
  display:inline-block !important;
  background-color: #25313c;
}
.listgroupStyle > li{
  float:left;
  background-color: #25313c;

}



.listgroupMovies {
  margin-top: 20px;
  display:inline-block !important;
}

.listgroupMovies > li  {
  float:left;
  height:330px;
  width:200px;
  margin:20px;
}
.ml-auto > li > a {
    color:white !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#react-tabs-1 > div > div.col-md-8 > div > div.video-react-poster{
  border: solid;
}

#har> div > div.col-md-8 > div > button{
  margin-left: 500px;
  margin-top: 250px;  
}

#root > div > div > div.container > div:nth-child(2) > div:nth-child(1){
  background-color: black;
    border: solid;
    border-color: white;
    border-width: 0.5px;
    padding: 1px;
}



#root > div > div > div > div:nth-child(1) > div > nav > ul > li:nth-child(1){

  margin-left: 850px !important;
}

#root > div > div > div:nth-child(1) > div > nav > ul > li:nth-child(1){
  margin-left: 850px !important;
}